a:link, a.action {
  color: #417CAB;
}

a:active {
  color: #253;
}

a:visited {
  color: #417CAB;
}

a:hover {
  color: #417CAB;
  background-color: #DDD;
}

body{
  background-color: #FFF;
}


/**
 * Main layout elements
 */

#header {
  background-color: #0061AA;
  color: #FFF;
}

#header h1{
  padding: 5px 0;
  width: 970px;
}

#footer {
  background-color: #0061AA;
}

#footer_bottom {
	width: 100%;
	position: static;
	clear: both;
	text-align: center;
	background-color:#0061AA;
	color:#fff;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0;
	padding: 5px 0;
}

#footer a, #footer_bottom a{
  color: #fff;
  text-decoration: none;
}

#footer a:hover, #footer_bottom a:hover{
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}